Repository pagopa/dx: changes, and which Codecov flags are due for each by the changed paths.
All: dx-cli, pr-comment-action

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      dx-cli:
        target: 80%
        flags:
          - dx-cli
      pr-comment:
        target: 80%
        flags:
          - pr-comment-action

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_head: false
  require_base: false
  branches: []

flags:
  dx-cli:
    paths:
      - apps/cli
    carryforward: false
  pr-comment-action:
    paths:
      - actions/pr-comment
    carryforward: false

fix: use different key vault
  .github/workflows/_validate-renew-tls-certificate-e2e.yaml
  actions/renew-tls-certificate/test.sh
Due: none

fix: add run id in certificate name to avoid collision with soft deleted ones, update test with certificate deletion
  actions/renew-tls-certificate/test-e2e.sh
Due: none

Update actions/renew-tls-certificate/package.json
  actions/renew-tls-certificate/package.json
Due: none

fix: use separate python
  actions/renew-tls-certificate/package.json
  actions/renew-tls-certificate/test.sh
  actions/renew-tls-certificate/test_smoke_imports.py
Due: none

fix: use staging ACME. update readme
  actions/renew-tls-certificate/README.md
  actions/renew-tls-certificate/le_create_acme_test_account.py
Due: none

Refine renew TLS action tests
  .github/workflows/_validate-renew-tls-certificate-e2e.yaml
  actions/renew-tls-certificate/le_renew_ssl_certificate_python_requirements.txt
  actions/renew-tls-certificate/package.json
  actions/renew-tls-certificate/test-e2e.sh
  actions/renew-tls-certificate/test.sh
  actions/renew-tls-certificate/test_smoke_imports.py
Due: none

Remove terraform_docs hook from pre-commit configuration
  .pre-commit-config.yaml
Due: none

chore: remove outdated README files and modules
  .nx/version-plans/version-plan-1782229454596.md
  apps/cli/src/adapters/plop/generators/monorepo/__tests__/__snapshots__/generation.test.ts.snap
  apps/cli/templates/monorepo/.pre-commit-config.yaml.hbs
  apps/website/docs/terraform/pre-commit-terraform.md
  infra/bootstrapper/_modules/aws/README.md
  infra/bootstrapper/_modules/azure/README.md
  infra/bootstrapper/dev/README.md
  infra/bootstrapper/prod/README.md
  infra/bootstrapper/uat/README.md
  infra/core/dev/README.md
  infra/core/prod/README.md
  infra/core/uat/README.md
  infra/policy/dev/README.md
  infra/repository/README.md
  infra/resources/_modules/dx_website/README.md
  infra/resources/_modules/mcp_server/README.md
  infra/resources/_modules/metrics_portal/README.md
  infra/resources/_modules/testing/README.md
  infra/resources/dev/README.md
  infra/resources/prod/README.md
Due: dx-cli

Support ESLint 9 alongside ESLint 10
  .nx/version-plans/version-plan-1782213453124.md
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

Update azure_container_app module to version 4.2.2
  infra/resources/prod/tfmodules.lock.json
Due: none

Support ESLint 9 alongside ESLint 10 (#1883)
  .nx/version-plans/version-plan-1782213453124.md
  packages/eslint-config/README.md
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

Align Azure authorization with repo owner (#1877)
  .nx/version-plans/version-plan-1782204343110.md
  apps/cli/src/adapters/commander/commands/__tests__/add.test.ts
  apps/cli/src/adapters/commander/commands/add.ts
  apps/cli/src/adapters/pagopa-technology/__tests__/authorization.test.ts
  apps/cli/src/adapters/pagopa-technology/azure-authorization.ts
  apps/cli/src/domain/authorization.ts
  apps/cli/src/use-cases/__tests__/request-authorization.test.ts
Due: dx-cli

Update PR comments in place
  .nx/version-plans/version-plan-ces-2159-pr-comment-update.md
  actions/pr-comment/README.md
  actions/pr-comment/action.yml
  actions/pr-comment/dist/index.cjs
  actions/pr-comment/src/index.test.ts
  actions/pr-comment/src/index.ts
Due: pr-comment-action

Add missing newline and format permissions in release workflow
  .github/workflows/_release-terraform-apply-bootstrapper.yaml
Due: none

Fix release workflow formatting and permissions (#1896)
  .github/workflows/_release-terraform-apply-bootstrapper.yaml
Due: none

Fix Key Vault DNS retry test
  apps/cli/src/adapters/azure/__tests__/cloud-account-service.test.ts
Due: dx-cli

revert
  apps/cli/src/adapters/plop/generators/environment/__tests__/prompts.test.ts
  apps/cli/src/adapters/plop/generators/environment/prompts.ts
Due: dx-cli

Fix add environment bootstrap
  .nx/version-plans/version-plan-1781190475359.md
  apps/cli/src/adapters/plop/actions/__tests__/sync-repository-environments.test.ts
  apps/cli/src/adapters/plop/actions/sync-repository-environments.ts
  apps/cli/src/adapters/plop/generators/environment/__tests__/__snapshots__/generation.test.ts.snap
  apps/cli/src/adapters/plop/generators/environment/__tests__/actions.test.ts
  apps/cli/src/adapters/plop/generators/environment/__tests__/generation.test.ts
  apps/cli/src/adapters/plop/generators/environment/actions.ts
  apps/cli/src/adapters/plop/generators/environment/index.ts
  apps/cli/src/domain/authorization.ts
  apps/cli/src/use-cases/__tests__/request-authorization.test.ts
Due: dx-cli

Apply suggestion from @krusty93
  .nx/version-plans/version-plan-1781190475359.md
Due: none

Wait for Key Vault DNS
  apps/cli/src/adapters/azure/__tests__/cloud-account-service.test.ts
  apps/cli/src/adapters/azure/cloud-account-service.ts
Due: dx-cli

Restore repo owner in auth test
  apps/cli/src/use-cases/__tests__/request-authorization.test.ts
Due: dx-cli

Enhance Trivy summary reporting in static analysis workflow
  .github/workflows/static_analysis.yaml
Due: none

Enhance Trivy summary reporting in static analysis workflow (#1895)
  .github/workflows/static_analysis.yaml
Due: none

add property
  infra/core/prod/tfmodules.lock.json
  infra/core/uat/tfmodules.lock.json
Due: none

update lock files
  infra/core/dev/tfmodules.lock.json
  infra/core/prod/tfmodules.lock.json
  infra/core/uat/tfmodules.lock.json
Due: none

Add support for IP masking in Application Insights configuration
  .nx/version-plans/version-plan-1782209148793.md
  infra/core/dev/main.tf
  infra/core/prod/main.tf
  infra/core/uat/main.tf
Due: none

Refactor Azure Monitor environment variables for improved telemetry configuration
  apps/cli/src/adapters/azure-monitor/instrumentation.ts
Due: dx-cli

fix test
  apps/cli/src/__tests__/index.test.ts
  apps/cli/src/adapters/commander/commands/__tests__/add-json.test.ts
Due: dx-cli

build
  .nx/version-plans/version-plan-1781270291055.md
  .nx/version-plans/version-plan-1781270390103.md
  apps/cli/README.md
  apps/cli/bin/index.js
  apps/cli/package.json
  apps/cli/src/adapters/azure-monitor/instrumentation.ts
  apps/cli/src/adapters/azure-monitor/telemetry.ts
  apps/cli/src/adapters/commander/commands/add.ts
  apps/cli/src/adapters/commander/commands/doctor.ts
  apps/cli/src/adapters/octokit/__tests__/index.test.ts
  apps/cli/src/adapters/octokit/index.ts
  apps/cli/src/adapters/plop/actions/setup-pnpm.ts
  apps/cli/src/index.ts
  apps/website/docs/dx-cli/requirements.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: dx-cli

linter
  apps/cli/src/__tests__/index.test.ts
Due: dx-cli

Update TLS certificate documentation and add reusable workflow for Azure TLS certificate generation
  apps/website/docs/azure/networking/creating-tls-cert.md
  apps/website/docs/pipelines/index.md
  apps/website/docs/pipelines/release-azure-certificate.md
Due: none

Update TLS certificate renewal process documentation
  .nx/version-plans/version-plan-1782117981196.md
  apps/website/docs/azure/networking/creating-tls-cert.md
  apps/website/docs/pipelines/index.md
  apps/website/docs/pipelines/release-certificate.md
Due: none

fix: address review comments
  .nx/version-plans/version-plan-1781190475359.md
  apps/cli/src/adapters/azure/cloud-account-service.ts
  apps/cli/src/adapters/plop/actions/__tests__/sync-repository-environments.test.ts
  apps/cli/src/adapters/plop/actions/sync-repository-environments.ts
  apps/cli/src/domain/authorization.ts
Due: dx-cli

feat: resolve PR commets
  .github/workflows/_validate-renew-tls-certificate-e2e.yaml
  actions/renew-tls-certificate/le_renew_ssl_certificate_acme_tiny.py
  actions/renew-tls-certificate/package.json
  actions/renew-tls-certificate/test-e2e.sh
  actions/renew-tls-certificate/test-smoke.sh
  actions/renew-tls-certificate/test_smoke_imports.py
Due: none

fix: env not global
  .github/workflows/_validate-renew-tls-certificate-e2e.yaml
  actions/renew-tls-certificate/test_smoke_imports.py
Due: none

fix: format output
  .github/workflows/_validate-renew-tls-certificate-e2e.yaml
Due: none

Enable IP masking in AI (#1880)
  .nx/version-plans/version-plan-1782209148793.md
  infra/core/dev/main.tf
  infra/core/dev/tfmodules.lock.json
  infra/core/prod/main.tf
  infra/core/prod/tfmodules.lock.json
  infra/core/uat/main.tf
  infra/core/uat/tfmodules.lock.json
Due: none

Move `policy/dev` backend
  infra/policy/dev/main.tf
Due: none
