Repository pagopa/dx: changes, and which Codecov flags are due for each by the changed paths.
All: dx-cli, pr-comment-action

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
      dx-cli:
        target: 80%
        flags:
          - dx-cli
      pr-comment:
        target: 80%
        flags:
          - pr-comment-action

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_head: false
  require_base: false
  branches: []

flags:
  dx-cli:
    paths:
      - apps/cli
    carryforward: false
  pr-comment-action:
    paths:
      - actions/pr-comment
    carryforward: false

dx-metrics: source .env(.example) during build to provide DATABASE_URL in CI
  apps/dx-metrics/package.json
Due: none

refactor: Update Nx release flow, remove custom tag script, use Nx tags in PR description
  actions/nx-release/README.md
  actions/nx-release/action.yaml
  actions/nx-release/scripts/create-tags-releases.ts
  actions/nx-release/scripts/dist/create-tags-releases.js
  actions/nx-release/scripts/dist/extract-tags.js
  actions/nx-release/scripts/dist/sync-tags-releases.js
  actions/nx-release/scripts/extract-tags.ts
  actions/nx-release/scripts/parse-manifests.ts
  actions/nx-release/scripts/sync-tags-releases.ts
  actions/nx-release/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: correct build script and remove hardcoded environment variables from start script
  apps/dx-metrics/.env.development
  apps/dx-metrics/package.json
  apps/dx-metrics/start-nextapp.sh
Due: none

fix: correct syntax error in build script in package.json
  apps/dx-metrics/package.json
Due: none

fix: merge conflict resolved
  actions/nx-release/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

refactor envs
  apps/dx-metrics/.env.development
  apps/dx-metrics/.env.local
  apps/dx-metrics/.gitignore
  apps/dx-metrics/next-env.d.ts
  apps/dx-metrics/src/app/dashboards/layout.tsx
  apps/dx-metrics/src/proxy.ts
Due: none

fix: checks
  actions/nx-release/scripts/dist/sync-tags-releases.js
  actions/nx-release/tsconfig.json
Due: none

feat: Enable tag creation, add tag patter
  nx.json
Due: none

Update pr-comment-action to node24
  .changeset/rare-lizards-begin.md
  actions/pr-comment/.gitignore
  actions/pr-comment/action.yml
  actions/pr-comment/dist/index.cjs
  actions/pr-comment/dist/index.js
  actions/pr-comment/package.json
  actions/pr-comment/tsconfig.json
  actions/pr-comment/tsup.config.ts
  pnpm-lock.yaml
Due: pr-comment-action

Test action
  .github/workflows/_validate.yaml
Due: none

fix react resolution
  apps/dx-metrics/package.json
  apps/website/tsconfig.json
  pnpm-lock.yaml
Due: none

fix: correct tooltip variable naming and update README for Better Auth configuration
  apps/dx-metrics/README.md
  apps/dx-metrics/src/app/dashboards/dx-releases/page.tsx
  apps/dx-metrics/src/app/dashboards/dx-releases/tooltips.ts
Due: none

refactor: update configuration structure and improve team member handling
  apps/dx-metrics/README.md
  apps/dx-metrics/config.json
  apps/dx-metrics/next-env.d.ts
  apps/dx-metrics/src/app/api/dashboards/iac/route.ts
  apps/dx-metrics/src/app/dashboards/dx-team/page.tsx
  apps/dx-metrics/src/lib/config.ts
  apps/dx-metrics/start-nextapp.sh
Due: none

fix: update README for Quick Start instructions and improve proxy route handling
  apps/dx-metrics/README.md
  apps/dx-metrics/src/lib/useDashboardData.ts
  apps/dx-metrics/src/proxy.ts
Due: none

Reduce actions inputs
  .github/workflows/infra_apply.yaml
  actions/cloud-ephemeral-download/.gitignore
  actions/cloud-ephemeral-download/.prettierignore
  actions/cloud-ephemeral-download/CHANGELOG.md
  actions/cloud-ephemeral-download/action.yaml
  actions/cloud-ephemeral-download/dist/main.cjs
  actions/cloud-ephemeral-download/dist/post.cjs
  actions/cloud-ephemeral-download/eslint.config.js
  actions/cloud-ephemeral-download/package.json
  actions/cloud-ephemeral-download/src/main.ts
  actions/cloud-ephemeral-download/src/post.ts
  actions/cloud-ephemeral-download/tsconfig.json
  actions/cloud-ephemeral-download/tsup.config.ts
  actions/cloud-storage-upload/action.yaml
  actions/cloud-storage-upload/src/main.ts
  actions/terraform-plan-download/action.yaml
  pnpm-lock.yaml
Due: none

Add zod validation
  actions/cloud-ephemeral-download/package.json
  actions/cloud-ephemeral-download/src/main.ts
  actions/cloud-ephemeral-download/src/post.ts
  actions/cloud-ephemeral-download/src/schema.ts
  actions/cloud-storage-upload/package.json
  actions/cloud-storage-upload/src/main.ts
  actions/cloud-storage-upload/src/schema.ts
  pnpm-lock.yaml
Due: none

fix: Removed Unused column in savemoney table format
  packages/savemoney/src/azure/report.ts
Due: none

Use workspace protocol for @pagopa/dx-savemoney
  .changeset/floppy-olives-hide.md
  apps/cli/package.json
  pnpm-lock.yaml
Due: dx-cli

Use workspace protocol for @pagopa/dx-savemoney (#1429)
  .changeset/floppy-olives-hide.md
  apps/cli/package.json
  pnpm-lock.yaml
Due: dx-cli

Version Packages (#1428)
  .changeset/floppy-olives-hide.md
  .changeset/perfect-bottles-push.md
  apps/cli/CHANGELOG.md
  apps/cli/package.json
Due: dx-cli

feat: Add tags filter input, add config file for thresholds, add lint format output
  apps/cli/README.md
  apps/cli/src/adapters/commander/commands/savemoney.ts
  packages/savemoney/README.md
  packages/savemoney/package.json
  packages/savemoney/src/azure/analyzer.ts
  packages/savemoney/src/azure/config.ts
  packages/savemoney/src/azure/report.ts
  packages/savemoney/src/azure/resources/app-service.ts
  packages/savemoney/src/azure/resources/container-app.ts
  packages/savemoney/src/azure/resources/public-ip.ts
  packages/savemoney/src/azure/resources/static-web-app.ts
  packages/savemoney/src/azure/resources/storage.ts
  packages/savemoney/src/azure/resources/vm.ts
  packages/savemoney/src/azure/types.ts
  packages/savemoney/src/azure/utils.ts
  packages/savemoney/src/index.ts
  packages/savemoney/src/types.ts
  packages/savemoney/tsconfig.json
Due: dx-cli

Upgrade some dependencies
  actions/setup-telemetry/dist/index.js
  actions/setup-telemetry/dist/post.js
  actions/setup-telemetry/package.json
  apps/cli/package.json
  apps/mcpserver/package.json
  apps/opex-dashboard/config.schema.json
  apps/opex-dashboard/package.json
  apps/website/package.json
  package.json
  packages/azure-tracing/package.json
  packages/mcp-prompts/package.json
  packages/savemoney/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: dx-cli

feat: Add tests for thresholds
  packages/savemoney/package.json
  packages/savemoney/src/azure/__tests__/config.test.ts
  packages/savemoney/src/azure/__tests__/fixtures/partial-override.json
  packages/savemoney/src/azure/__tests__/report.test.ts
  packages/savemoney/src/azure/__tests__/utils.test.ts
  packages/savemoney/src/azure/resources/__tests__/storage.test.ts
Due: none

feat: Update CLI doc with SaveMoney new features
  apps/website/docs/dx-cli/index.md
Due: none

fix: Add changesets files
  .changeset/cozy-mugs-boil.md
  .changeset/flat-rockets-play.md
  .changeset/lazy-icons-laugh.md
Due: none

Refactor actions
  .github/workflows/infra_apply.yaml
  actions/cloud-ephemeral-download/action.yaml
  actions/cloud-ephemeral-download/dist/main.cjs
  actions/cloud-ephemeral-download/dist/post.cjs
  actions/cloud-ephemeral-download/src/main.ts
  actions/cloud-ephemeral-download/src/post.ts
  actions/cloud-ephemeral-download/src/schema.ts
  actions/cloud-storage-upload/action.yaml
  actions/cloud-storage-upload/dist/main.cjs
  actions/cloud-storage-upload/src/main.ts
  actions/cloud-storage-upload/src/schema.ts
  actions/get-terraform-backend-config/CHANGELOG.md
  actions/get-terraform-backend-config/action.yaml
  actions/get-terraform-backend-config/package.json
  actions/terraform-plan-download/action.yaml
  actions/terraform-plan-upload/action.yaml
Due: none

fix: Update package cli
  apps/cli/package.json
  pnpm-lock.yaml
Due: dx-cli

Point to feature branch in actions
  actions/terraform-plan-download/action.yaml
  actions/terraform-plan-upload/action.yaml
Due: none

Remove unwanted init
  .github/workflows/infra_apply.yaml
Due: none

task completed
  .changeset/ces-1796-storage-account-blob-table-endpoints.md
  infra/modules/azure_storage_account/README.md
  infra/modules/azure_storage_account/outputs.tf
Due: none

Refactor plan upload and download actions
  .github/workflows/infra_apply.yaml
  actions/cloud-ephemeral-download/.gitignore
  actions/cloud-ephemeral-download/.prettierignore
  actions/cloud-ephemeral-download/CHANGELOG.md
  actions/cloud-ephemeral-download/action.yaml
  actions/cloud-ephemeral-download/dist/main.cjs
  actions/cloud-ephemeral-download/dist/post.cjs
  actions/cloud-storage-upload/.gitignore
  actions/cloud-storage-upload/.prettierignore
  actions/cloud-storage-upload/CHANGELOG.md
  actions/cloud-storage-upload/dist/main.cjs
  actions/cloud-storage-upload/src/main.ts
  actions/cloud-storage-upload/src/schema.ts
  actions/get-terraform-backend-config/CHANGELOG.md
  actions/get-terraform-backend-config/action.yaml
  actions/get-terraform-backend-config/package.json
  actions/terraform-plan-download/action.yaml
  actions/terraform-plan-storage-download/CHANGELOG.md
  actions/terraform-plan-storage-download/action.yaml
  actions/terraform-plan-storage-download/eslint.config.js
  actions/terraform-plan-storage-download/package.json
  actions/terraform-plan-storage-download/src/main.ts
  actions/terraform-plan-storage-download/src/post.ts
  actions/terraform-plan-storage-download/src/schema.ts
  actions/terraform-plan-storage-download/tsconfig.json
  actions/terraform-plan-storage-download/tsup.config.ts
  actions/terraform-plan-storage-upload/CHANGELOG.md
  actions/terraform-plan-storage-upload/action.yaml
  actions/terraform-plan-storage-upload/eslint.config.js
  actions/terraform-plan-storage-upload/package.json
  actions/terraform-plan-storage-upload/src/main.ts
  actions/terraform-plan-storage-upload/src/schema.ts
  actions/terraform-plan-storage-upload/tsconfig.json
  actions/terraform-plan-storage-upload/tsup.config.ts
  actions/terraform-plan-upload/action.yaml
  pnpm-lock.yaml
Due: none

Commit dist
  actions/terraform-plan-storage-download/.gitignore
  actions/terraform-plan-storage-download/dist/main.cjs
  actions/terraform-plan-storage-download/dist/post.cjs
  actions/terraform-plan-storage-upload/.gitignore
  actions/terraform-plan-storage-upload/dist/main.cjs
Due: none

fix: resolve paths against GITHUB_WORKSPACE in plan storage actions
  actions/terraform-plan-storage-download/dist/main.cjs
  actions/terraform-plan-storage-download/src/main.ts
  actions/terraform-plan-storage-upload/dist/main.cjs
  actions/terraform-plan-storage-upload/src/main.ts
Due: none

debug: add path resolution logs to plan storage upload
  actions/terraform-plan-storage-upload/dist/main.cjs
  actions/terraform-plan-storage-upload/src/main.ts
Due: none

Add changelog
  .changeset/big-mangos-cough.md
  apps/mcpserver/vitest.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: remove debug logs from plan storage upload
  actions/terraform-plan-storage-upload/dist/main.cjs
  actions/terraform-plan-storage-upload/src/main.ts
Due: none

Upgrade dependencies (#1430)
  .changeset/big-mangos-cough.md
  actions/setup-telemetry/dist/index.js
  actions/setup-telemetry/dist/post.js
  actions/setup-telemetry/package.json
  apps/cli/package.json
  apps/mcpserver/package.json
  apps/mcpserver/vitest.config.js
  apps/opex-dashboard/config.schema.json
  apps/opex-dashboard/package.json
  apps/website/package.json
  package.json
  packages/azure-tracing/package.json
  packages/mcp-prompts/package.json
  packages/savemoney/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: dx-cli

fix(terraform-plan-storage-download): use mkdtemp for secure temp file creation (CWE-377)
  actions/terraform-plan-storage-download/dist/main.cjs
  actions/terraform-plan-storage-download/src/main.ts
Due: none

Update pnpm-lock
  pnpm-lock.yaml
Due: none
