Repository pagopa/dx: changes, and which Codecov flags are due for each by the changed paths.
All: dx-cli, pr-comment-action

Update @types/semver
  pnpm-lock.yaml
Due: none

Scaffold default prod environment
  packages/monorepo-generator/src/index.ts
  packages/monorepo-generator/templates/monorepo/infra/resources/prod/providers.tf.hbs
Due: none

Create changelog
  .changeset/weak-bears-crash.md
Due: none

Update packages/monorepo-generator/templates/monorepo/infra/resources/prod/providers.tf.hbs
  packages/monorepo-generator/templates/monorepo/infra/resources/prod/providers.tf.hbs
Due: none

Add mdx extension
  .devcontainer/devcontainer.json
Due: none

Add draft article
  apps/website/blog/007-migrating-to-pnpm.mdx
Due: none

Add changeset
  .changeset/light-ghosts-stare.md
Due: none

Add use-pnpm codemod
  apps/cli/package.json
  apps/cli/src/adapters/codemods/__tests__/registry.test.ts
  apps/cli/src/adapters/codemods/example.ts
  apps/cli/src/adapters/codemods/index.ts
  apps/cli/src/adapters/codemods/use-pnpm.ts
  apps/cli/src/adapters/commander/commands/info.ts
  apps/cli/src/adapters/commander/index.ts
  apps/cli/src/domain/__tests__/data.ts
  apps/cli/src/domain/__tests__/info.test.ts
  apps/cli/src/domain/codemod.ts
  apps/cli/src/domain/dependencies.ts
  apps/cli/src/domain/info.ts
  apps/cli/src/index.ts
  apps/cli/src/use-cases/__tests__/apply-codemod.test.ts
  apps/cli/src/use-cases/__tests__/list-codemods.test.ts
  apps/cli/src/use-cases/apply-codemod.ts
  pnpm-lock.yaml
Due: dx-cli

Update apps/cli/src/adapters/codemods/use-pnpm.ts
  apps/cli/src/adapters/codemods/use-pnpm.ts
Due: dx-cli

Use pnpm-config-pagopa
  apps/cli/src/adapters/codemods/use-pnpm.ts
Due: dx-cli

Implement feature X to enhance user experience and optimize performance
  actions/pr-comment/dist/index.cjs
Due: pr-comment-action

Enhance copilot instructions for improved clarity and usability
  .github/copilot-instructions.md
Due: none

Format sources
  apps/website/docs/conventions/index.md
  apps/website/docs/dev-containers/index.md
  apps/website/docs/getting-started/index.md
  apps/website/docs/index.md
  apps/website/docs/infrastructure/index.md
  apps/website/docs/pipelines/index.md
  apps/website/docs/pipelines/legacy/index.md
Due: none

Implement fully managed solution
  infra/core/dev/main.tf
  infra/modules/aws_azure_vpn/README.md
  infra/modules/aws_azure_vpn/aws_dns_endpoints.tf
  infra/modules/aws_azure_vpn/azure_dns_endpoints.tf
  infra/modules/aws_azure_vpn/locals.tf
  infra/modules/aws_azure_vpn/variables.tf
  infra/modules/aws_core_infra/_modules/dns_resolver_managed/README.md
  infra/modules/aws_core_infra/_modules/dns_resolver_managed/main.tf
  infra/modules/aws_core_infra/_modules/dns_resolver_managed/outputs.tf
  infra/modules/aws_core_infra/_modules/dns_resolver_managed/variables.tf
  infra/modules/azure_core_infra/_modules/dns_resolver_managed/README.md
  infra/modules/azure_core_infra/_modules/dns_resolver_managed/main.tf
  infra/modules/azure_core_infra/_modules/dns_resolver_managed/outputs.tf
  infra/modules/azure_core_infra/_modules/dns_resolver_managed/variables.tf
Due: none

Refactor infrastructure documentation for clarity and consistency
  apps/website/docs/getting-started/index.md
  apps/website/docs/infrastructure/index.md
  apps/website/docusaurus.config.ts
Due: none

Remove outdated onboarding section for new team members
  apps/website/docs/getting-started/index.md
  apps/website/docs/index.md
Due: none

Clarify Terraform version usage in copilot instructions
  .github/copilot-instructions.md
Due: none

Update documentation to emphasize mono repository usage
  apps/website/docs/conventions/index.md
  apps/website/docs/dev-containers/index.md
  apps/website/docs/dev-containers/setting-up-devcontainer.md
  apps/website/docs/getting-started/index.md
  apps/website/docs/infrastructure/index.md
  apps/website/docs/pipelines/index.md
  apps/website/docs/pipelines/legacy/index.md
Due: none

Refactor code structure for improved readability and maintainability
  .gitignore
  apps/website/src/css/custom.css
  apps/website/src/pages/index.module.css
  apps/website/src/pages/index.tsx
  apps/website/static/img/dx.png
Due: none

Rename template files
  packages/monorepo-generator/templates/monorepo/.github/workflows/infra_plan.yaml.hbs
  packages/monorepo-generator/templates/monorepo/.github/workflows/infra_release.yaml.hbs
Due: none

Add drift detection template and put parameters in infra workflows
  packages/monorepo-generator/templates/monorepo/.github/workflows/drift_detection.yaml.hbs
  packages/monorepo-generator/templates/monorepo/.github/workflows/infra_plan.yaml.hbs
  packages/monorepo-generator/templates/monorepo/.github/workflows/infra_release.yaml.hbs
Due: none

Add prompt to get environments
  packages/monorepo-generator/package.json
  packages/monorepo-generator/src/index.ts
Due: none

Add changelog
  .changeset/common-dingos-smile.md
Due: none

Refactor after code review
  packages/monorepo-generator/package.json
  packages/monorepo-generator/src/actions/terraform.ts
  pnpm-lock.yaml
Due: none

Add Search Component for enhanced topic exploration
  apps/website/src/components/SearchComponent.module.css
  apps/website/src/components/SearchComponent.tsx
  apps/website/src/pages/index.module.css
  apps/website/src/pages/index.tsx
Due: none

Enhance dark mode styles for improved visual consistency
  apps/website/src/css/custom.css
  apps/website/src/pages/index.module.css
Due: none

Refactor code structure for improved readability and maintainability
  apps/website/src/css/custom.css
  apps/website/src/css/fonts.css
  apps/website/static/fonts/README.md
  apps/website/static/fonts/roboto-mono-400-italic.woff2
  apps/website/static/fonts/roboto-mono-400.woff2
  apps/website/static/fonts/roboto-mono-500.woff2
  apps/website/static/fonts/roboto-mono-700.woff2
  apps/website/static/fonts/work-sans-400.woff2
  apps/website/static/fonts/work-sans-500.woff2
Due: none

Scaffold init command
  apps/cli/src/adapters/commander/commands/init.ts
  apps/cli/src/adapters/commander/index.ts
Due: dx-cli

Add changelogs
  .changeset/small-feet-invent.md
  .changeset/spotty-games-battle.md
Due: none

Remove plop as peerDependency
  packages/monorepo-generator/package.json
  pnpm-lock.yaml
Due: none

First draft of the init command that runs the PagoPA monorepo generator
  apps/cli/package.json
  apps/cli/src/adapters/commander/commands/init.ts
Due: dx-cli

Disable color scheme preference and hide search bar on homepage
  apps/website/docusaurus.config.ts
  apps/website/src/theme/Navbar/index.module.css
  apps/website/src/theme/Navbar/index.tsx
Due: none

Update link in homepage header to direct users to the blog
  apps/website/src/pages/index.tsx
Due: none

Enhance secondary button styles for better visibility
  apps/website/src/css/button-override.css
  apps/website/src/pages/index.module.css
  apps/website/src/pages/index.tsx
Due: none

Refactor init command to use neverthrow
  apps/cli/src/adapters/commander/commands/init.ts
Due: dx-cli

Move dns forwarder to aws_azure_vpn module
  infra/core/dev/main.tf
  infra/modules/aws_azure_vpn/README.md
  infra/modules/aws_azure_vpn/aws_data.tf
  infra/modules/aws_azure_vpn/aws_dns_endpoints.tf
  infra/modules/aws_azure_vpn/aws_dns_forwarder.tf
  infra/modules/aws_azure_vpn/locals.tf
  infra/modules/aws_azure_vpn/templates/user_data.sh
  infra/modules/aws_azure_vpn/variables.tf
  infra/modules/aws_core_infra/README.md
  infra/modules/aws_core_infra/_modules/dns_forwarder/README.md
  infra/modules/aws_core_infra/_modules/dns_forwarder/main.tf
  infra/modules/aws_core_infra/_modules/dns_forwarder/outputs.tf
  infra/modules/aws_core_infra/_modules/dns_forwarder/user_data.sh
  infra/modules/aws_core_infra/_modules/dns_forwarder/variables.tf
  infra/modules/aws_core_infra/main.tf
  infra/modules/aws_core_infra/outputs.tf
  infra/modules/aws_core_infra/variables.tf
  infra/modules/azure_core_infra/README.md
  infra/modules/azure_core_infra/_modules/vpn/README.md
  infra/modules/azure_core_infra/_modules/vpn/coredns_corefile.tpl
  infra/modules/azure_core_infra/_modules/vpn/variables.tf
  infra/modules/azure_core_infra/_modules/vpn/vpn.tf
  infra/modules/azure_core_infra/main.tf
  infra/modules/azure_core_infra/outputs.tf
  infra/modules/azure_core_infra/variables.tf
Due: none

Apply suggestion from @Copilot
  apps/cli/src/adapters/commander/commands/init.ts
Due: dx-cli

Enable pnpm and configure pnpm PagoPA plugin
  packages/monorepo-generator/src/actions/pnpm.ts
  packages/monorepo-generator/src/index.ts
Due: none

Add changelog
  .changeset/nasty-pants-call.md
Due: none

Path conditions:
  dx-cli: any of: apps/cli
  pr-comment-action: any of: actions/pr-comment
