Repository pagopa/dx: changes, and which Codecov flags are due for each by the changed paths.
All: dx-cli, pr-comment-action

feat: Refactor outcome classification and presentation for improved clarity and consistency
  apps/harbor-bench/CONTEXT.md
  apps/harbor-bench/src/harbor_bench/comparison_presentation.py
  apps/harbor-bench/src/harbor_bench/report.py
  apps/harbor-bench/src/harbor_bench/templates/comparison.html.j2
  apps/harbor-bench/tests/test_report.py
Due: none

Upgrade runner base image (#2312)
  .nx/version-plans/version-plan-1791365918010.md
  containers/self-hosted-runner/Dockerfile
Due: none

feat: Introduce SkillInjection class to manage skill references and enhance run command construction
  apps/harbor-bench/CONTEXT.md
  apps/harbor-bench/src/harbor_bench/compare/__init__.py
  apps/harbor-bench/src/harbor_bench/compare/run.py
  apps/harbor-bench/src/harbor_bench/compare/sources.py
  apps/harbor-bench/tests/test_compare_run.py
  apps/harbor-bench/tests/test_compare_sources.py
Due: none

Add Renovate version plan workflow
  .github/workflows/_release-renovate-version-plan.yaml
Due: none

Harden Renovate version plan workflow
  .github/workflows/_release-renovate-version-plan.yaml
Due: none

Automate base Docker image ref updates with renovate (#2313)
  .nx/version-plans/version-plan-1791367723868.md
  apps/cli/src/adapters/plop/generators/monorepo/__tests__/generation.test.ts
  apps/cli/templates/monorepo/renovate.json
  renovate.json
Due: dx-cli

Migrate bootstrapper to integrations/github
  infra/bootstrapper/MIGRATIONS.md
  infra/bootstrapper/_modules/aws/providers.tf
  infra/bootstrapper/_modules/azure/custom_environments.tf
  infra/bootstrapper/_modules/azure/data.tf
  infra/bootstrapper/_modules/azure/providers.tf
  infra/bootstrapper/_modules/azure/secrets.tf
  infra/bootstrapper/dev/.terraform.lock.hcl
  infra/bootstrapper/prod/.terraform.lock.hcl
  infra/bootstrapper/uat/.terraform.lock.hcl
  infra/bootstrapper/uat/tests/terraform/.terraform.lock.hcl
  infra/bootstrapper/uat/tests/terraform/providers.tf
  infra/bootstrapper/uat/tests/terraform/unit.tftest.hcl
Due: none

Add include-hidden-files option to workflow
  .github/workflows/_release-renovate-version-plan.yaml
Due: none

Support personal GitHub owners
  .nx/version-plans/version-plan-1791361374340.md
  apps/cli/src/adapters/plop/generators/environment/__tests__/__snapshots__/generation.test.ts.snap
  apps/cli/src/adapters/plop/generators/environment/__tests__/generation.test.ts
  apps/cli/templates/environment/bootstrapper/{{env.name}}/main.tf.hbs
  infra/bootstrapper/_modules/azure/custom_id.tf
  infra/bootstrapper/_modules/azure/data.tf
  infra/bootstrapper/_modules/azure/providers.tf
  infra/bootstrapper/_modules/azure/variables.tf
  infra/bootstrapper/dev/.terraform.lock.hcl
  infra/bootstrapper/dev/providers.tf
  infra/bootstrapper/prod/.terraform.lock.hcl
  infra/bootstrapper/prod/providers.tf
  infra/bootstrapper/uat/.terraform.lock.hcl
  infra/bootstrapper/uat/project.json
  infra/bootstrapper/uat/providers.tf
  infra/bootstrapper/uat/tests/terraform/.terraform.lock.hcl
  infra/bootstrapper/uat/tests/terraform/providers.tf
  infra/bootstrapper/uat/tests/terraform/tfmodules.lock.json
  infra/bootstrapper/uat/tests/terraform/unit.tftest.hcl
  infra/modules/azure_github_environment_bootstrap/README.md
  infra/modules/azure_github_environment_bootstrap/data.tf
  infra/modules/azure_github_environment_bootstrap/locals.tf
  infra/modules/azure_github_environment_bootstrap/main.tf
  infra/modules/azure_github_environment_bootstrap/tests/unit.tftest.hcl
  infra/modules/azure_github_environment_bootstrap/variables.tf
Due: dx-cli

Format CLI generator test
  apps/cli/src/adapters/plop/generators/monorepo/__tests__/generation.test.ts
Due: dx-cli

Migrate Bootstrapper to integrations/github (#2316)
  infra/bootstrapper/MIGRATIONS.md
  infra/bootstrapper/_modules/aws/providers.tf
  infra/bootstrapper/_modules/azure/custom_environments.tf
  infra/bootstrapper/_modules/azure/data.tf
  infra/bootstrapper/_modules/azure/providers.tf
  infra/bootstrapper/_modules/azure/secrets.tf
  infra/bootstrapper/dev/.terraform.lock.hcl
  infra/bootstrapper/prod/.terraform.lock.hcl
  infra/bootstrapper/uat/.terraform.lock.hcl
  infra/bootstrapper/uat/tests/terraform/.terraform.lock.hcl
  infra/bootstrapper/uat/tests/terraform/providers.tf
  infra/bootstrapper/uat/tests/terraform/unit.tftest.hcl
Due: none

Fix stacked PR CI checks
  apps/cli/src/adapters/plop/generators/monorepo/__tests__/generation.test.ts
  infra/bootstrapper/dev/.terraform.lock.hcl
  infra/bootstrapper/prod/.terraform.lock.hcl
  infra/bootstrapper/uat/.terraform.lock.hcl
  infra/bootstrapper/uat/project.json
  infra/bootstrapper/uat/tests/terraform/.terraform.lock.hcl
  infra/modules/azure_github_environment_bootstrap/README.md
Due: dx-cli

feat: Enhance harbor resolution to prefer bundled console script and update documentation
  apps/harbor-bench/README.md
  apps/harbor-bench/docs/advanced-usage.md
  apps/harbor-bench/src/harbor_bench/cli.py
  apps/harbor-bench/src/harbor_bench/compare/run.py
  apps/harbor-bench/tests/test_compare_run.py
Due: none

Enhance harbor-bench compare with --skill option
  .nx/version-plans/version-plan-1791356695528.md
Due: none

Report each run's own gate threshold in comparison notes
  apps/harbor-bench/src/harbor_bench/comparison_presentation.py
  apps/harbor-bench/tests/test_report.py
Due: none

Add the harbor-copilot version plan
  .nx/version-plans/version-plan-1791391690755.md
Due: none

Make harbor-bench usable as an external CLI (#2309)
  .nx/version-plans/version-plan-1791356695528.md
  .nx/version-plans/version-plan-1791391690755.md
  apps/harbor-bench/CONTEXT.md
  apps/harbor-bench/README.md
  apps/harbor-bench/docs/advanced-usage.md
  apps/harbor-bench/src/harbor_bench/cli.py
  apps/harbor-bench/src/harbor_bench/compare/__init__.py
  apps/harbor-bench/src/harbor_bench/compare/run.py
  apps/harbor-bench/src/harbor_bench/compare/sources.py
  apps/harbor-bench/src/harbor_bench/comparison_presentation.py
  apps/harbor-bench/src/harbor_bench/convert/config.py
  apps/harbor-bench/src/harbor_bench/convert/task.py
  apps/harbor-bench/src/harbor_bench/diff.py
  apps/harbor-bench/src/harbor_bench/html_report.py
  apps/harbor-bench/src/harbor_bench/jobs.py
  apps/harbor-bench/src/harbor_bench/report.py
  apps/harbor-bench/src/harbor_bench/task_shape.py
  apps/harbor-bench/src/harbor_bench/templates/comparison.html.j2
  apps/harbor-bench/src/harbor_bench/templates/quality-header.toml
  apps/harbor-bench/src/harbor_bench/templates/test.sh
  apps/harbor-bench/tests/conftest.py
  apps/harbor-bench/tests/test_cli.py
  apps/harbor-bench/tests/test_compare_run.py
  apps/harbor-bench/tests/test_compare_sources.py
  apps/harbor-bench/tests/test_diff.py
  apps/harbor-bench/tests/test_report.py
  apps/harbor-bench/tests/test_task.py
  packages/harbor-copilot/src/harbor_copilot/metrics.py
Due: none

Update Nx agent skills
  .github/skills/nx-generate/SKILL.md
  .github/skills/nx-import/SKILL.md
  .github/skills/nx-import/references/ESLINT.md
  .github/skills/nx-import/references/GRADLE.md
  .github/skills/nx-import/references/JEST.md
  .github/skills/nx-import/references/NEXT.md
  .github/skills/nx-import/references/TURBOREPO.md
  .github/skills/nx-import/references/VITE.md
  .github/skills/nx-workspace/SKILL.md
  AGENTS.md
Due: none

Disable Nx Cloud prompts in dx init nx.json
  .nx/version-plans/version-plan-1791400000000.md
  apps/cli/templates/monorepo/nx.json
Due: dx-cli

feat: Implement solution with only static inputs
  .nx/version-plans/version-plan-1791209755344.md
  packages/nx-terraform-plugin/README.md
  packages/nx-terraform-plugin/dist/index.js
  packages/nx-terraform-plugin/src/__tests__/hcl.test.ts
  packages/nx-terraform-plugin/src/__tests__/index.test.ts
  packages/nx-terraform-plugin/src/__tests__/project.test.ts
  packages/nx-terraform-plugin/src/hcl.ts
  packages/nx-terraform-plugin/src/index.ts
  packages/nx-terraform-plugin/src/project.ts
Due: none

feat(nx-terraform): infer shared module inputs from module sources
  .nx/version-plans/version-plan-1791209755344.md
  packages/nx-terraform-plugin/README.md
  packages/nx-terraform-plugin/package.json
  packages/nx-terraform-plugin/src/__tests__/hcl.test.ts
  packages/nx-terraform-plugin/src/__tests__/index.test.ts
  packages/nx-terraform-plugin/src/__tests__/project.test.ts
  packages/nx-terraform-plugin/src/hcl.ts
  packages/nx-terraform-plugin/src/index.ts
  packages/nx-terraform-plugin/src/project.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

feat(nx-terraform): infer shared module inputs via Terraform CLI
  .nx/version-plans/version-plan-1791209755344.md
  packages/nx-terraform-plugin/README.md
  packages/nx-terraform-plugin/src/__tests__/hcl.test.ts
  packages/nx-terraform-plugin/src/__tests__/index.test.ts
  packages/nx-terraform-plugin/src/__tests__/project.test.ts
  packages/nx-terraform-plugin/src/__tests__/terraform-modules.integration.test.ts
  packages/nx-terraform-plugin/src/__tests__/terraform-modules.test.ts
  packages/nx-terraform-plugin/src/hcl.ts
  packages/nx-terraform-plugin/src/index.ts
  packages/nx-terraform-plugin/src/project.ts
  packages/nx-terraform-plugin/src/terraform-modules.ts
Due: none

Update pnpm dependencies across workspace
  .nx/version-plans/version-plan-1791450234920.md
  actions/nx-release/scripts/dist/extract-projects-to-build.js
  actions/nx-release/scripts/dist/extract-tags.js
  actions/nx-release/scripts/dist/manage-version-pr.js
  actions/nx-release/scripts/dist/select-projects-with-target.js
  actions/nx-release/scripts/dist/shared.js
  actions/nx-release/scripts/dist/sync-tags-releases.js
  actions/nx-release/scripts/dist/warn-version-plan-coverage-pr.js
  actions/nx-release/tsconfig.json
  actions/pr-comment/dist/index.cjs
  actions/run-dx-task/dist/index.mjs
  actions/setup-telemetry/dist/index.cjs
  actions/setup-telemetry/dist/post.cjs
  actions/terraform-plan-storage-download/dist/main.cjs
  actions/terraform-plan-storage-download/dist/post.cjs
  actions/terraform-plan-storage-upload/dist/main.cjs
  apps/cli/package.json
  apps/cli/src/adapters/plop/generators/environment/actions.ts
  apps/cli/src/adapters/plop/generators/monorepo/actions.ts
  apps/dx-metrics/package.json
  apps/mcpserver/package.json
  apps/opex-dashboard/config.schema.json
  apps/website/package.json
  apps/website/src/plugins/lifecycle-data-loader.ts
  apps/website/src/plugins/radar-data-loader.ts
  package.json
  packages/azure-tracing/package.json
  packages/dx-metrics-core/package.json
  packages/eslint-config/package.json
  packages/nx-terraform-plugin/dist/executors/publish/publish.js
  packages/nx-terraform-plugin/dist/index.js
  packages/savemoney/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: dx-cli, pr-comment-action

Restore caret prefix for Nx, SWC, and oxfmt dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Format opex-dashboard configuration schema
  apps/opex-dashboard/config.schema.json
Due: none

Cache TFLint plugins in validation workflow
  .github/workflows/validate-v2.yaml
Due: none

Remove staging URL readback from workflow
  .github/workflows/release-azure-containerapp-v1.yaml
  apps/website/docs/azure/application-deployment/release-container-app.md
Due: none

Keep failed release staging label
  .github/workflows/release-azure-containerapp-v1.yaml
  apps/website/docs/azure/application-deployment/release-container-app.md
Due: none

Inline Container App staging label steps
  .github/workflows/release-azure-containerapp-v1.yaml
  .nx/version-plans/version-plan-1790783000086.md
  .nx/version-plans/version-plan-1790842941540.md
  actions/containerapp-staging-label/README.md
  actions/containerapp-staging-label/action.yml
  actions/containerapp-staging-label/package.json
  actions/containerapp-staging-label/staging-label.sh
  actions/containerapp-staging-label/test.sh
  actions/containerapp-staging-label/tests/mock-az.sh
  pnpm-lock.yaml
Due: none

Add stable staging URLs for Container Apps
  .github/workflows/release-azure-containerapp-v1.yaml
  .nx/version-plans/version-plan-1790783000086.md
  actions/containerapp-staging-label/README.md
  actions/containerapp-staging-label/action.yml
  actions/containerapp-staging-label/package.json
  actions/containerapp-staging-label/staging-label.sh
  actions/containerapp-staging-label/test.sh
  actions/containerapp-staging-label/tests/mock-az.sh
  apps/website/docs/azure/application-deployment/release-container-app.md
  pnpm-lock.yaml
Due: none

make things simpler
  .nx/version-plans/version-plan-1790842941540.md
  apps/website/docs/azure/application-deployment/release-container-app.md
Due: none

Rely on default success condition
  .github/workflows/release-azure-containerapp-v1.yaml
Due: none

Remove staging label only after successful swap
  .github/workflows/release-azure-containerapp-v1.yaml
  apps/website/docs/azure/application-deployment/release-container-app.md
Due: none

Shorten Container Apps release docs
  apps/website/docs/azure/application-deployment/release-container-app.md
Due: none

remove label cleanup step
  .github/workflows/release-azure-containerapp-v1.yaml
Due: none

restore label removal
  .github/workflows/release-azure-containerapp-v1.yaml
Due: none

Cache TFLint plugins in validation workflow (#2320)
  .github/workflows/validate-v2.yaml
Due: none

Disable Nx Cloud prompts in dx init nx.json (#2318)
  .nx/version-plans/version-plan-1791400000000.md
  apps/cli/templates/monorepo/nx.json
Due: dx-cli

Update workspace pnpm dependencies (#2319)
  .nx/version-plans/version-plan-1791450234920.md
  actions/nx-release/scripts/dist/extract-projects-to-build.js
  actions/nx-release/scripts/dist/extract-tags.js
  actions/nx-release/scripts/dist/manage-version-pr.js
  actions/nx-release/scripts/dist/select-projects-with-target.js
  actions/nx-release/scripts/dist/shared.js
  actions/nx-release/scripts/dist/sync-tags-releases.js
  actions/nx-release/scripts/dist/warn-version-plan-coverage-pr.js
  actions/nx-release/tsconfig.json
  actions/pr-comment/dist/index.cjs
  actions/run-dx-task/dist/index.mjs
  actions/setup-telemetry/dist/index.cjs
  actions/setup-telemetry/dist/post.cjs
  actions/terraform-plan-storage-download/dist/main.cjs
  actions/terraform-plan-storage-download/dist/post.cjs
  actions/terraform-plan-storage-upload/dist/main.cjs
  apps/cli/package.json
  apps/cli/src/adapters/plop/generators/environment/actions.ts
  apps/cli/src/adapters/plop/generators/monorepo/actions.ts
  apps/dx-metrics/package.json
  apps/mcpserver/package.json
  apps/opex-dashboard/config.schema.json
  apps/website/package.json
  apps/website/src/plugins/lifecycle-data-loader.ts
  apps/website/src/plugins/radar-data-loader.ts
  package.json
  packages/azure-tracing/package.json
  packages/dx-metrics-core/package.json
  packages/eslint-config/package.json
  packages/nx-terraform-plugin/dist/executors/publish/publish.js
  packages/nx-terraform-plugin/dist/index.js
  packages/savemoney/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: dx-cli, pr-comment-action

Validate GitHub owner IDs
  infra/bootstrapper/_modules/azure/variables.tf
  infra/bootstrapper/uat/tests/terraform/unit.tftest.hcl
  infra/modules/azure_github_environment_bootstrap/README.md
  infra/modules/azure_github_environment_bootstrap/tests/unit.tftest.hcl
  infra/modules/azure_github_environment_bootstrap/variables.tf
Due: none

Path conditions:
  dx-cli: any of: apps/cli
  pr-comment-action: any of: actions/pr-comment
