Repository pagopa/dx: changes, and which Codecov flags are due for each by the changed paths.
All: dx-cli, pr-comment-action

Add endpoint as output
  infra/modules/azure_managed_redis/outputs.tf
Due: none

Run format
  infra/modules/azure_managed_redis/README.md
  infra/modules/azure_managed_redis/locals.tf
  infra/modules/azure_managed_redis/tests/contract.tftest.hcl
Due: none

Remove unused file
  infra/modules/azure_managed_redis/examples/complete/data.tf
Due: none

Refactor azure_managed_redis alert defaults to match MS guidance
  infra/modules/azure_managed_redis/README.md
  infra/modules/azure_managed_redis/examples/complete/README.md
  infra/modules/azure_managed_redis/locals.tf
  infra/modules/azure_managed_redis/tests/unit.tftest.hcl
  infra/modules/azure_managed_redis/variables.tf
Due: none

Format
  apps/cli/CHANGELOG.md
  apps/website/CHANGELOG.md
Due: dx-cli

Simplify interface
  infra/modules/azure_managed_redis/README.md
  infra/modules/azure_managed_redis/examples/complete/README.md
  infra/modules/azure_managed_redis/examples/complete/main.tf
  infra/modules/azure_managed_redis/locals.tf
  infra/modules/azure_managed_redis/redis.tf
  infra/modules/azure_managed_redis/tests/README.md
  infra/modules/azure_managed_redis/tests/contract.tftest.hcl
  infra/modules/azure_managed_redis/tests/unit.tftest.hcl
  infra/modules/azure_managed_redis/variables.tf
Due: none

Remove errors alert
  infra/modules/azure_managed_redis/variables.tf
Due: none

Update after code review
  .nx/version-plans/version-plan-1776695038460.md
  infra/modules/azure_managed_redis/README.md
  infra/modules/azure_managed_redis/examples/complete/outputs.tf
  infra/modules/azure_managed_redis/locals.tf
  infra/modules/azure_managed_redis/outputs.tf
  infra/modules/azure_managed_redis/tests/unit.tftest.hcl
  infra/modules/azure_managed_redis/variables.tf
Due: none

Remove some SKUs
  infra/modules/azure_managed_redis/README.md
  infra/modules/azure_managed_redis/tests/unit.tftest.hcl
  infra/modules/azure_managed_redis/variables.tf
Due: none

Revert "Format"
  apps/cli/CHANGELOG.md
  apps/website/CHANGELOG.md
  infra/modules/azure_managed_redis/diagram.svg
Due: dx-cli

Version Packages (#1692)
  .nx/version-plans/version-plan-1777458544889.md
  .nx/version-plans/version-plan-1777898577552.md
  .nx/version-plans/version-plan-1777903191391.md
  .nx/version-plans/version-plan-1777970400000.md
  actions/nx-release/CHANGELOG.md
  actions/nx-release/package.json
  actions/pr-comment/CHANGELOG.md
  actions/pr-comment/package.json
  actions/setup-telemetry/CHANGELOG.md
  actions/setup-telemetry/package.json
  actions/terraform-plan-storage-download/CHANGELOG.md
  actions/terraform-plan-storage-download/package.json
  actions/terraform-plan-storage-upload/CHANGELOG.md
  actions/terraform-plan-storage-upload/package.json
  apps/cli/CHANGELOG.md
  apps/cli/package.json
  apps/dx-metrics/CHANGELOG.md
  apps/dx-metrics/package.json
  apps/mcpserver/CHANGELOG.md
  apps/mcpserver/package.json
  apps/opex-dashboard/CHANGELOG.md
  apps/opex-dashboard/package.json
  apps/website/CHANGELOG.md
  apps/website/package.json
  infra/modules/azure_core_infra/CHANGELOG.md
  infra/modules/azure_core_infra/package.json
  packages/azure-tracing/CHANGELOG.md
  packages/azure-tracing/package.json
  packages/eslint-config/CHANGELOG.md
  packages/eslint-config/package.json
  packages/mcp-prompts/CHANGELOG.md
  packages/mcp-prompts/package.json
  packages/nx-terraform-plugin/CHANGELOG.md
  packages/nx-terraform-plugin/package.json
  packages/savemoney/CHANGELOG.md
  packages/savemoney/package.json
Due: dx-cli, pr-comment-action

fix
  .github/workflows/release-azure-containerapp-v1.yaml
Due: none

replace with quotes
  .github/workflows/release-azure-containerapp-v1.yaml
Due: none

wrap with single quotes
  .github/workflows/release-azure-containerapp-v1.yaml
Due: none

Add CodeQL pack and model for trusted actions by pagopa owner
  .github/codeql/extensions/pagopa-trusted-owner/codeql-pack.yml
  .github/codeql/extensions/pagopa-trusted-owner/models/trusted-owner.model.yml
Due: none

Update trusted-owner.model.yml
  .github/codeql/extensions/pagopa-trusted-owner/models/trusted-owner.model.yml
Due: none

chore: update Node.js target version from 20 to 24
  .nx/version-plans/version-plan-1777982049578.md
  actions/pr-comment/action.yml
  actions/pr-comment/dist/index.cjs
  actions/pr-comment/tsup.config.ts
Due: pr-comment-action

Enable global virtual store in pnpm workspace configuration
  pnpm-workspace.yaml
Due: none

Upgrade pr-comment action to Node.js 24 (#1695)
  .nx/version-plans/version-plan-1777982049578.md
  actions/pr-comment/action.yml
  actions/pr-comment/dist/index.cjs
  actions/pr-comment/tsup.config.ts
Due: pr-comment-action

switch action branch
  .github/workflows/release-azure-containerapp-v1.yaml
Due: none

Update README with graph
  infra/modules/azure_managed_redis/README.md
  infra/modules/azure_managed_redis/diagram.mmd
  infra/modules/azure_managed_redis/diagram.svg
Due: none

Add Azure Managed Redis module (#1649)
  .nx/version-plans/version-plan-1776695038460.md
  infra/modules/azure_managed_redis/README.md
  infra/modules/azure_managed_redis/alerts.tf
  infra/modules/azure_managed_redis/data.tf
  infra/modules/azure_managed_redis/diagram.mmd
  infra/modules/azure_managed_redis/diagram.svg
  infra/modules/azure_managed_redis/examples/complete/README.md
  infra/modules/azure_managed_redis/examples/complete/locals.tf
  infra/modules/azure_managed_redis/examples/complete/main.tf
  infra/modules/azure_managed_redis/examples/complete/outputs.tf
  infra/modules/azure_managed_redis/examples/complete/providers.tf
  infra/modules/azure_managed_redis/examples/network_access/README.md
  infra/modules/azure_managed_redis/locals.tf
  infra/modules/azure_managed_redis/main.tf
  infra/modules/azure_managed_redis/monitoring.tf
  infra/modules/azure_managed_redis/network.tf
  infra/modules/azure_managed_redis/outputs.tf
  infra/modules/azure_managed_redis/package.json
  infra/modules/azure_managed_redis/redis.tf
  infra/modules/azure_managed_redis/tests/README.md
  infra/modules/azure_managed_redis/tests/contract.tftest.hcl
  infra/modules/azure_managed_redis/tests/unit.tftest.hcl
  infra/modules/azure_managed_redis/variables.tf
  pnpm-lock.yaml
Due: none

Version Packages
  .nx/version-plans/version-plan-1776695038460.md
  .nx/version-plans/version-plan-1777982049578.md
  actions/pr-comment/CHANGELOG.md
  actions/pr-comment/package.json
  infra/modules/azure_managed_redis/CHANGELOG.md
  infra/modules/azure_managed_redis/package.json
Due: pr-comment-action

Version Packages (#1697)
  .nx/version-plans/version-plan-1776695038460.md
  .nx/version-plans/version-plan-1777982049578.md
  actions/pr-comment/CHANGELOG.md
  actions/pr-comment/package.json
  infra/modules/azure_managed_redis/CHANGELOG.md
  infra/modules/azure_managed_redis/package.json
Due: pr-comment-action

Update __swap_versions to set traffic to 100% instead of reverting
  actions/incremental-rollout/azure-containerapp.sh
Due: none

[no ci] Action reference
  .github/workflows/release-azure-containerapp-v1.yaml
Due: none

fix az containerapp set traffic command
  .github/workflows/release-azure-containerapp-v1.yaml
Due: none

Migrate mcpserver to Zod v4
  .nx/version-plans/version-plan-1777989128434.md
  apps/mcpserver/package.json
  apps/mcpserver/src/handlers/ask.ts
  apps/mcpserver/src/handlers/search.ts
  apps/mcpserver/src/mcp/server.ts
  apps/mcpserver/src/tools/__tests__/QueryValidation.test.ts
  apps/mcpserver/src/utils/__tests__/error-handling.test.ts
  pnpm-lock.yaml
Due: none

Refactor code structure for improved readability and maintainability
  actions/nx-release/scripts/dist/extract-projects-to-build.js
  actions/nx-release/scripts/dist/extract-tags.js
  actions/nx-release/scripts/dist/manage-version-pr.js
  actions/nx-release/scripts/dist/shared.js
  actions/nx-release/scripts/dist/sync-tags-releases.js
  actions/nx-release/scripts/dist/warn-version-plan-coverage-pr.js
  actions/pr-comment/dist/index.cjs
  actions/setup-telemetry/dist/index.cjs
  actions/setup-telemetry/dist/post.cjs
  actions/terraform-plan-storage-download/dist/main.cjs
  actions/terraform-plan-storage-download/dist/post.cjs
  actions/terraform-plan-storage-upload/dist/main.cjs
  go.work.sum
  infra/modules/azure_cdn/tests/go.mod
  infra/modules/azure_cdn/tests/go.sum
  infra/modules/azure_cosmos_account/tests/go.mod
  infra/modules/azure_cosmos_account/tests/go.sum
  infra/modules/azure_merge_roles/tests/go.mod
  infra/modules/azure_merge_roles/tests/go.sum
  infra/modules/github_selfhosted_runner_on_container_app_jobs/tests/go.mod
  infra/modules/github_selfhosted_runner_on_container_app_jobs/tests/go.sum
  package.json
  pnpm-lock.yaml
Due: pr-comment-action

bump version
  .devcontainer/templates/node/devcontainer-template.json
Due: none

Set 3 zones to ip
  infra/modules/azure_core_infra/_modules/vpn/vpn.tf
Due: none

Add release plan
  .nx/version-plans/version-plan-1777992032022.md
Due: none

Update core infra in dev
  infra/core/dev/.terraform.lock.hcl
  infra/core/dev/README.md
  infra/core/dev/main.tf
  infra/core/dev/providers.tf
  infra/core/dev/tfmodules.lock.json
Due: none

Reset backend to stategraph
  infra/core/dev/providers.tf
Due: none

Repair Zod lockfile snapshots
  pnpm-lock.yaml
Due: none

Update UAT
  infra/core/uat/.terraform.lock.hcl
  infra/core/uat/README.md
  infra/core/uat/main.tf
  infra/core/uat/tfmodules.lock.json
Due: none

fix examples
  .nx/version-plans/version-plan-1777995076420.md
  infra/modules/azure_cosmos_account/cosmos.tf
  infra/modules/azure_cosmos_account/examples/complete/README.md
  infra/modules/azure_cosmos_account/examples/complete/data.tf
  infra/modules/azure_cosmos_account/examples/complete/locals.tf
  infra/modules/azure_cosmos_account/examples/complete/main.tf
  infra/modules/azure_cosmos_account/examples/complete/versions.tf
  infra/modules/azure_cosmos_account/examples/network_access/README.md
  infra/modules/azure_cosmos_account/examples/network_access/data.tf
  infra/modules/azure_cosmos_account/examples/network_access/fixtures.tf
  infra/modules/azure_cosmos_account/examples/network_access/locals.tf
  infra/modules/azure_cosmos_account/examples/network_access/mut.tf
  infra/modules/azure_cosmos_account/examples/network_access/providers.tf
  infra/modules/azure_cosmos_account/locals.tf
  infra/modules/azure_cosmos_account/tests/setup/main.tf
Due: none

Upgrade devcontainer base image version + lock file (#1691)
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  .devcontainer/templates/node/.devcontainer/devcontainer.json
  .devcontainer/templates/node/devcontainer-template.json
Due: none

Path conditions:
  dx-cli: any of: apps/cli
  pr-comment-action: any of: actions/pr-comment
