Repository pagopa/dx: changes, and which Codecov flags are due for each by the changed paths.
All: dx-cli, pr-comment-action

Refactor ensure-dx-kb.sh script for improved clarity and functionality
  plugins/terraform/scripts/ensure-dx-kb.sh
Due: none

Update Terraform Best Practices Checklist to include Azure Key Vault reference skill for App Service, Function App, and Container Apps, and refine pre-commit validation instructions.
  plugins/terraform/skills/terraform-best-practices/references/checklist.md
Due: none

Enhance Terraform Best Practices Skill documentation and workflows, including improved descriptions, new implementation and module discovery guidelines, and refined question policies for user input.
  plugins/terraform/skills/terraform-best-practices/SKILL.md
  plugins/terraform/skills/terraform-best-practices/references/implementation-workflow.md
  plugins/terraform/skills/terraform-best-practices/references/module-discovery.md
  plugins/terraform/skills/terraform-best-practices/references/question-policy.md
  plugins/terraform/skills/terraform-best-practices/references/troubleshooting.md
Due: none

Address PR feedback on Terraform skill
  plugins/terraform/scripts/ensure-dx-kb.sh
  plugins/terraform/skills/terraform-best-practices/SKILL.md
Due: none

Align dx-tasks report tests
  packages/dx-tasks/src/__tests__/default-dispatcher.test.ts
  packages/dx-tasks/src/__tests__/render-report.test.ts
Due: none

Format dx-tasks test expectation
  packages/dx-tasks/src/__tests__/default-dispatcher.test.ts
Due: none

Add Azure Functions integration and record-replay documentation
  plugins/tests/.plugin/plugin.json
  plugins/tests/hooks/hooks.json
  plugins/tests/skills/generate-backend-tests/SKILL.md
  plugins/tests/skills/generate-backend-tests/evals/evals.json
  plugins/tests/skills/generate-backend-tests/references/azure-functions-harness.md
  plugins/tests/skills/generate-backend-tests/references/azure-functions-integration.md
  plugins/tests/skills/generate-backend-tests/references/azure-functions-record-replay.md
  plugins/tests/skills/generate-backend-tests/references/azure-harness.md
  plugins/tests/skills/generate-backend-tests/references/cassette-layout.md
  plugins/tests/skills/generate-backend-tests/references/cloud-services-harness.md
  plugins/tests/skills/generate-backend-tests/references/final-reporting.md
  plugins/tests/skills/generate-backend-tests/references/incremental-extension.md
  plugins/tests/skills/generate-backend-tests/references/integration-workflow.md
  plugins/tests/skills/generate-backend-tests/references/promoting-unit-tests.md
  plugins/tests/skills/generate-backend-tests/references/record-replay-workflow.md
  plugins/tests/skills/generate-backend-tests/references/scenario-selection.md
  plugins/tests/skills/generate-backend-tests/references/shared-harness.md
  plugins/tests/skills/generate-backend-tests/references/shared-vitest-lifecycle.md
Due: none

Add tests plugin with backend testing workflows for Node.js and TypeScript
  apps/website/docs/coding-with-ai/plugin-marketplace.md
Due: none

Potential fix for pull request finding
  plugins/tests/.plugin/plugin.json
Due: none

Remove obsolete hooks configuration from tests plugin
  plugins/tests/hooks/hooks.json
Due: none

Remove hooks configuration from tests plugin
  plugins/tests/.plugin/plugin.json
Due: none

Add tests plugin configuration and enhance documentation for backend testing workflows
  .github/copilot/settings.json
  apps/cli/templates/monorepo/.github/copilot/settings.json
  apps/website/docs/coding-with-ai/plugin-marketplace.md
Due: dx-cli

format docs
  apps/website/docs/coding-with-ai/plugin-marketplace.md
Due: none

Update TLS renewal process documentation (#1870)
  .nx/version-plans/version-plan-1782117981196.md
  apps/website/docs/azure/networking/creating-tls-cert.md
  apps/website/docs/pipelines/index.md
  apps/website/docs/pipelines/release-azure-certificate.md
Due: none

Deprecate subnet_id, subnet_pep_id and virtual_network_type_internal in APIM module
  .nx/version-plans/version-plan-1782912930073.md
  infra/modules/azure_api_management/README.md
  infra/modules/azure_api_management/example/complete/README.md
  infra/modules/azure_api_management/example/complete/main.tf
  infra/modules/azure_api_management/locals.tf
  infra/modules/azure_api_management/main.tf
  infra/modules/azure_api_management/network.tf
  infra/modules/azure_api_management/package.json
  infra/modules/azure_api_management/tests/apim.tftest.hcl
  infra/modules/azure_api_management/variables.tf
Due: none

Limit Terraform plan output in PR comments (#1919)
  .github/workflows/validate-v2.yaml
  .nx/version-plans/version-plan-1782834665929.md
  actions/run-dx-task/dist/index.mjs
  packages/dx-tasks/README.md
  packages/dx-tasks/src/__tests__/default-dispatcher.test.ts
  packages/dx-tasks/src/__tests__/render-report.test.ts
  packages/dx-tasks/src/__tests__/report-pr-comment.test.ts
  packages/dx-tasks/src/__tests__/report-store.test.ts
  packages/dx-tasks/src/report-pr-comment.ts
  packages/dx-tasks/src/report-store.ts
  packages/dx-tasks/src/terraform/__tests__/plan.test.ts
  packages/dx-tasks/src/terraform/plan.ts
Due: none

Clarify CLI precheck errors
  apps/cli/src/adapters/commander/commands/__tests__/preconditions.test.ts
  apps/cli/src/adapters/commander/commands/init.ts
  apps/cli/src/adapters/github/github-repo.ts
Due: dx-cli

Create APIM subnet internally using dx_available_subnet_cidr
  infra/modules/azure_api_management/README.md
  infra/modules/azure_api_management/locals.tf
  infra/modules/azure_api_management/outputs.tf
  infra/modules/azure_api_management/subnets.tf
  infra/modules/azure_api_management/tests/setup/README.md
  infra/modules/azure_api_management/tests/setup/main.tf
Due: none

Report precise CLI precheck failures in init and add commands (#1908)
  .nx/version-plans/version-plan-1782723620000.md
  apps/cli/src/adapters/commander/commands/__tests__/init-command.test.ts
  apps/cli/src/adapters/commander/commands/__tests__/init.test.ts
  apps/cli/src/adapters/commander/commands/__tests__/preconditions.test.ts
  apps/cli/src/adapters/commander/commands/init.ts
  apps/cli/src/adapters/github/__tests__/github-repo.spec.ts
  apps/cli/src/adapters/github/github-repo.ts
Due: dx-cli

fix: resolve comments
  apps/cli/src/adapters/azure/cloud-account-service.ts
Due: dx-cli

fix config
  infra/repository/.terraform.lock.hcl
  infra/repository/environments.tf
  infra/repository/providers.tf
Due: none

fix: use ci environemnt for bootstrap in validate-v2 workflow
  .github/workflows/validate-v2.yaml
Due: none

Refactor Location and Environment types to have stricter typecheck on BootstrapperIdentityName type
  apps/cli/src/adapters/azure/cloud-account-service.ts
  apps/cli/src/adapters/azure/locations.ts
  apps/cli/src/domain/environment.ts
Due: dx-cli

Fix Terraform plan command for specific GitHub environments
  .github/workflows/validate-v2.yaml
Due: none

Use stricter types (#1925)
  apps/cli/src/adapters/azure/cloud-account-service.ts
  apps/cli/src/adapters/azure/locations.ts
  apps/cli/src/domain/environment.ts
Due: dx-cli

Add Terraform Plan in CI for DX CLI Bootstrap workflow (#1905)
  .github/workflows/validate-v2.yaml
  .nx/version-plans/version-plan-1782391338671.md
  .nx/version-plans/version-plan-1782461067675.md
  apps/cli/src/adapters/azure/__tests__/cloud-account-service.test.ts
  apps/cli/src/adapters/azure/cloud-account-service.ts
  apps/cli/src/adapters/azure/locations.ts
  apps/cli/src/adapters/plop/generators/environment/__tests__/__snapshots__/generation.test.ts.snap
  apps/cli/src/domain/environment.ts
  apps/cli/templates/environment/workflow/_release-terraform-apply-bootstrapper-{{env.name}}.yaml.hbs
  infra/modules/github_environment_bootstrap/README.md
  infra/modules/github_environment_bootstrap/github_environments_ci.tf
Due: dx-cli

Potential fix for pull request finding
  packages/nx-terraform-plugin/src/executors/release-apply/release-apply.ts
Due: none

Potential fix for pull request finding
  packages/nx-terraform-plugin/src/executors/plan-upload/plan-upload.ts
Due: none

Potential fix for pull request finding
  packages/dx-tasks/src/terraform/plan-storage.ts
Due: none

Fix repository configuration (#1924)
  .github/workflows/validate-v2.yaml
  infra/repository/.terraform.lock.hcl
  infra/repository/environments.tf
  infra/repository/providers.tf
Due: none

Fix tests to stub GITHUB_RUN_ID with an empty string instead of unstubbing
  packages/dx-tasks/src/terraform/__tests__/apply.test.ts
  packages/dx-tasks/src/terraform/__tests__/plan-upload.test.ts
Due: none

add script
  infra/scripts/remove-terraform-docs-from-repos.sh
  infra/scripts/remove-terraform-docs-from-repos.test.sh
Due: none

fix: run workflow for e2e test every sunday, and smoke test in validate
  .github/workflows/_cron-renew-tls-certificate-e2e.yaml
  .nx/version-plans/version-plan-1782983380447.md
  actions/renew-tls-certificate/package.json
Due: none

chore(nx-terraform-plugin): update dependencies and configuration
  actions/run-dx-task/dist/index.mjs
  packages/nx-terraform-plugin/dist/chunk-CiiB0FCw.js
  packages/nx-terraform-plugin/dist/client-DZ5tk1C2.js
  packages/nx-terraform-plugin/dist/default-dispatcher--ypkibiq.js
  packages/nx-terraform-plugin/dist/default-dispatcher-C8R9cdV6.js
  packages/nx-terraform-plugin/dist/dist-cjs-BRDVwfkZ.js
  packages/nx-terraform-plugin/dist/dist-cjs-Bj85f4lx.js
  packages/nx-terraform-plugin/dist/dist-cjs-CNqXhE6W.js
  packages/nx-terraform-plugin/dist/dist-cjs-DIiT52MS.js
  packages/nx-terraform-plugin/dist/dist-cjs-Dnx3kJw5.js
  packages/nx-terraform-plugin/dist/dist-cjs-opVw4r8S.js
  packages/nx-terraform-plugin/dist/es5-Dhlh2gzY.js
  packages/nx-terraform-plugin/dist/executors/plan-upload/plan-upload.js
  packages/nx-terraform-plugin/dist/executors/plan/plan.js
  packages/nx-terraform-plugin/dist/executors/release-apply/release-apply.js
  packages/nx-terraform-plugin/dist/httpAuthSchemes-bRQhAT0D.js
  packages/nx-terraform-plugin/dist/package-P98Kc_1W.js
  packages/nx-terraform-plugin/dist/protocols-CRJJHWSw.js
  packages/nx-terraform-plugin/dist/serde-CEIw_Fs9.js
  packages/nx-terraform-plugin/dist/signin-DFhjXU1f.js
  packages/nx-terraform-plugin/dist/sso-oidc-D2AFlVdI.js
  packages/nx-terraform-plugin/dist/sts-CHw5gXi4.js
  packages/nx-terraform-plugin/package.json
  packages/nx-terraform-plugin/tsdown.config.ts
  pnpm-lock.yaml
Due: none

fix: Add Slack failure notification step
  .github/workflows/_cron-renew-tls-certificate-e2e.yaml
Due: none

Upgrade JavaScript dependencies
  .nx/version-plans/version-plan-1782833631714.md
  .nx/version-plans/version-plan-1782997524695.md
  actions/nx-release/scripts/dist/extract-projects-to-build.js
  actions/nx-release/scripts/dist/extract-tags.js
  actions/nx-release/scripts/dist/manage-version-pr.js
  actions/nx-release/scripts/dist/shared.js
  actions/nx-release/scripts/dist/sync-tags-releases.js
  actions/nx-release/scripts/dist/warn-version-plan-coverage-pr.js
  actions/pr-comment/dist/index.cjs
  actions/run-dx-task/dist/index.mjs
  actions/run-dx-task/package.json
  actions/setup-telemetry/dist/index.cjs
  actions/setup-telemetry/dist/post.cjs
  actions/terraform-plan-storage-download/dist/main.cjs
  actions/terraform-plan-storage-download/dist/post.cjs
  actions/terraform-plan-storage-upload/dist/main.cjs
  apps/cli/package.json
  apps/cli/src/adapters/codemods/__tests__/use-pnpm.test.ts
  apps/cli/src/adapters/commander/commands/__tests__/spec.test.ts
  apps/dx-metrics-import/package.json
  apps/dx-metrics-import/src/lib/__tests__/checkpoints.test.ts
  apps/dx-metrics/package.json
  apps/dx-metrics/src/lib/useDashboardData.ts
  apps/mcpserver/package.json
  apps/opex-dashboard/config.schema.json
  apps/website/package.json
  package.json
  packages/azure-tracing/package.json
  packages/azure-tracing/src/azure/monitor/__tests__/start-from-env.test.ts
  packages/dx-metrics-core/package.json
  packages/dx-tasks/src/github/__tests__/pr-comment.test.ts
  packages/eslint-config/package.json
  packages/nx-terraform-plugin/dist/executors/plan/plan.js
  packages/nx-terraform-plugin/dist/index.js
  packages/nx-terraform-plugin/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: dx-cli, pr-comment-action

Upgrade JavaScript dependencies (#1917)
  .nx/version-plans/version-plan-1782997524695.md
  actions/nx-release/scripts/dist/extract-projects-to-build.js
  actions/nx-release/scripts/dist/extract-tags.js
  actions/nx-release/scripts/dist/manage-version-pr.js
  actions/nx-release/scripts/dist/shared.js
  actions/nx-release/scripts/dist/sync-tags-releases.js
  actions/nx-release/scripts/dist/warn-version-plan-coverage-pr.js
  actions/pr-comment/dist/index.cjs
  actions/run-dx-task/dist/index.mjs
  actions/run-dx-task/package.json
  actions/setup-telemetry/dist/index.cjs
  actions/setup-telemetry/dist/post.cjs
  actions/terraform-plan-storage-download/dist/main.cjs
  actions/terraform-plan-storage-download/dist/post.cjs
  actions/terraform-plan-storage-upload/dist/main.cjs
  apps/cli/package.json
  apps/cli/src/adapters/codemods/__tests__/use-pnpm.test.ts
  apps/cli/src/adapters/commander/commands/__tests__/spec.test.ts
  apps/dx-metrics-import/package.json
  apps/dx-metrics-import/src/lib/__tests__/checkpoints.test.ts
  apps/dx-metrics/package.json
  apps/dx-metrics/src/lib/useDashboardData.ts
  apps/mcpserver/package.json
  apps/opex-dashboard/config.schema.json
  apps/website/package.json
  package.json
  packages/azure-tracing/package.json
  packages/azure-tracing/src/azure/monitor/__tests__/start-from-env.test.ts
  packages/dx-metrics-core/package.json
  packages/dx-tasks/src/github/__tests__/pr-comment.test.ts
  packages/eslint-config/package.json
  packages/nx-terraform-plugin/dist/executors/plan/plan.js
  packages/nx-terraform-plugin/dist/index.js
  packages/nx-terraform-plugin/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: dx-cli, pr-comment-action

Support ESLint 9 alongside ESLint 10
  .nx/version-plans/version-plan-1782213453124.md
  pnpm-lock.yaml
Due: none

Add /jest subpath export to @pagopa/eslint-config
  .nx/version-plans/version-plan-1782215083050.md
  packages/eslint-config/README.md
  packages/eslint-config/base.js
  packages/eslint-config/index.js
  packages/eslint-config/jest.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  dx-cli: any of: apps/cli
  pr-comment-action: any of: actions/pr-comment
