Repository pagopa/dx: changes, and which Codecov flags are due for each by the changed paths.
All: dx-cli, pr-comment-action

Add init command flags
  .nx/version-plans/version-plan-1780061797434.md
  apps/cli/src/adapters/commander/__tests__/exit-with-error.test.ts
  apps/cli/src/adapters/commander/command-errors.ts
  apps/cli/src/adapters/commander/commands/__tests__/init.test.ts
  apps/cli/src/adapters/commander/commands/add.ts
  apps/cli/src/adapters/commander/commands/codemod.ts
  apps/cli/src/adapters/commander/commands/init.ts
  apps/cli/src/adapters/commander/commands/savemoney.ts
  apps/cli/src/adapters/commander/index.ts
  apps/cli/src/adapters/plop/generators/monorepo/__tests__/prompts.test.ts
  apps/cli/src/adapters/plop/generators/monorepo/index.ts
  apps/cli/src/adapters/plop/generators/monorepo/prompts.ts
  apps/cli/src/adapters/plop/index.ts
Due: dx-cli

fix: remove test logging
  actions/setup-telemetry/dist/index.cjs
  actions/setup-telemetry/src/index.ts
Due: none

fix: remove test ref
  .github/workflows/infra_apply.yaml
  .github/workflows/infra_plan.yaml
Due: none

feat: configure connection string in prod apply/plan
  .github/workflows/_release-terraform-apply-prod-resources.yaml
  .github/workflows/_validate-terraform-plan-prod-resources.yaml
Due: none

Simplify getPromts
  apps/cli/src/adapters/plop/generators/monorepo/__tests__/prompts.test.ts
  apps/cli/src/adapters/plop/generators/monorepo/prompts.ts
Due: dx-cli

fix: remove connection string input, return to action default
  .github/workflows/_release-terraform-apply-prod-resources.yaml
  .github/workflows/_validate-terraform-plan-prod-resources.yaml
  actions/setup-telemetry/action.yaml
  actions/setup-telemetry/dist/index.cjs
  actions/setup-telemetry/src/index.ts
Due: none

fix: add branch ref for testing purposes
  .github/workflows/_validate-terraform-plan-dev-resources.yaml
  .github/workflows/infra_apply.yaml
  .github/workflows/infra_plan.yaml
Due: none

Move property to its type
  apps/cli/src/adapters/commander/commands/__tests__/init.test.ts
  apps/cli/src/adapters/commander/commands/init.ts
Due: dx-cli

fix: resolve some comments and update log telemetry event
  .nx/version-plans/version-plan-1781172657842.md
  actions/log-telemetry-event/README.md
  actions/log-telemetry-event/action.yaml
  actions/setup-telemetry/dist/index.cjs
  actions/setup-telemetry/dist/post.cjs
  actions/setup-telemetry/src/index.ts
  actions/setup-telemetry/src/post.ts
Due: none

Add VSCode launch and task configuration for dx CLI
  .vscode/launch.json
  .vscode/tasks.json
Due: none

fix: edit post type
  actions/setup-telemetry/dist/post.cjs
  actions/setup-telemetry/src/post.ts
Due: none

Add doctor path flag
  .nx/version-plans/version-plan-1781173004636.md
  apps/cli/README.md
  apps/cli/src/adapters/commander/commands/__tests__/doctor.test.ts
  apps/cli/src/adapters/commander/commands/doctor.ts
  apps/cli/src/domain/__tests__/doctor.test.ts
  apps/cli/src/domain/doctor.ts
Due: dx-cli

Update tsconfig.lib.json to include compilerOptions for source maps
  apps/cli/tsconfig.lib.json
Due: dx-cli

fix: remove test branch as ref
  .github/workflows/_validate-terraform-plan-dev-resources.yaml
  .github/workflows/infra_apply.yaml
  .github/workflows/infra_plan.yaml
Due: none

fix: Use PROD-DEVEX Application Insight as default
  actions/setup-telemetry/action.yaml
Due: none

Wire info command to presenter
  .nx/version-plans/version-plan-1781182695903.md
  apps/cli/src/adapters/commander/commands/__tests__/info.test.ts
  apps/cli/src/adapters/commander/commands/info.ts
  apps/cli/src/domain/info.ts
Due: dx-cli

test
  .github/workflows/infra_apply.yaml
  .github/workflows/infra_plan.yaml
  actions/setup-telemetry/dist/index.cjs
  actions/setup-telemetry/src/index.ts
Due: none

feat: add error event when init twice
  actions/setup-telemetry/dist/index.cjs
  actions/setup-telemetry/src/index.ts
Due: none

replace init command with help
  .vscode/launch.json
Due: none

Refactor TypeScript configuration and scripts across multiple packages (#1829)
  actions/nx-release/package.json
  actions/nx-release/scripts/.gitignore
  actions/nx-release/tsconfig.json
  actions/pr-comment/.gitignore
  actions/pr-comment/package.json
  actions/pr-comment/tsconfig.json
  actions/run-dx-task/.gitignore
  actions/run-dx-task/dist/index.mjs
  actions/setup-telemetry/.gitignore
  actions/setup-telemetry/dist/post.cjs
  actions/setup-telemetry/package.json
  actions/setup-telemetry/tsconfig.json
  actions/terraform-plan-storage-download/.gitignore
  actions/terraform-plan-storage-download/dist/main.cjs
  actions/terraform-plan-storage-download/dist/post.cjs
  actions/terraform-plan-storage-download/package.json
  actions/terraform-plan-storage-download/tsconfig.json
  actions/terraform-plan-storage-upload/.gitignore
  actions/terraform-plan-storage-upload/dist/main.cjs
  actions/terraform-plan-storage-upload/package.json
  actions/terraform-plan-storage-upload/tsconfig.json
  apps/dx-metrics-import/package.json
  apps/dx-metrics-import/tsconfig.json
  apps/dx-metrics-import/tsconfig.lib.json
  apps/dx-metrics-import/vitest.config.ts
  apps/dx-metrics/package.json
  apps/dx-metrics/vitest.config.ts
  apps/mcpserver/Dockerfile
  apps/mcpserver/package.json
  apps/mcpserver/tsconfig.json
  apps/opex-dashboard/config.schema.json
  apps/opex-dashboard/package.json
  apps/opex-dashboard/tsconfig.json
  apps/website/package.json
  nx.json
  packages/azure-tracing/package.json
  packages/dx-metrics-core/package.json
  packages/mcp-prompts/package.json
  packages/savemoney/package.json
Due: pr-comment-action

Allow Nx bootstrap during init
  .nx/version-plans/version-plan-1781253589487.md
  apps/cli/src/adapters/plop/generators/monorepo/__tests__/generation.test.ts
  apps/cli/templates/monorepo/pnpm-workspace.yaml
Due: dx-cli

Fix DX Metrics Docker builds
  apps/dx-metrics-import/Dockerfile
  apps/dx-metrics/Dockerfile
Due: none

Add DX Metrics version plans
  .nx/version-plans/version-plan-1781256539548.md
  .nx/version-plans/version-plan-1781256540513.md
Due: none

Pin init bootstrap to pnpm 10
  .nx/version-plans/version-plan-1781253589487.md
  apps/cli/src/adapters/plop/actions/setup-pnpm.ts
  apps/cli/src/adapters/plop/generators/monorepo/__tests__/generation.test.ts
  apps/cli/templates/monorepo/pnpm-workspace.yaml
Due: dx-cli

Fix DX Metrics Docker builds (#1841)
  .nx/version-plans/version-plan-1781256539548.md
  .nx/version-plans/version-plan-1781256540513.md
  apps/dx-metrics-import/Dockerfile
  apps/dx-metrics/Dockerfile
Due: none

Pin init bootstrap to pnpm 10 (#1839)
  .nx/version-plans/version-plan-1781253589487.md
  apps/cli/src/adapters/plop/actions/setup-pnpm.ts
  apps/cli/src/adapters/plop/generators/monorepo/__tests__/generation.test.ts
Due: dx-cli

Update CLI README for init
  .nx/version-plans/version-plan-1781253747119.md
  apps/cli/README.md
Due: dx-cli

Update CLI README for init (#1840)
  .nx/version-plans/version-plan-1781253747119.md
  apps/cli/README.md
Due: dx-cli

Clarify GitHub publish confirmation logic
  apps/cli/src/adapters/commander/commands/init.ts
Due: dx-cli

Add init command flags (#1809)
  .nx/version-plans/version-plan-1780061797434.md
  apps/cli/src/adapters/commander/__tests__/exit-with-error.test.ts
  apps/cli/src/adapters/commander/command-errors.ts
  apps/cli/src/adapters/commander/commands/__tests__/init.test.ts
  apps/cli/src/adapters/commander/commands/add.ts
  apps/cli/src/adapters/commander/commands/codemod.ts
  apps/cli/src/adapters/commander/commands/init.ts
  apps/cli/src/adapters/commander/commands/savemoney.ts
  apps/cli/src/adapters/commander/global-options.ts
  apps/cli/src/adapters/commander/index.ts
  apps/cli/src/adapters/plop/generators/monorepo/__tests__/prompts.test.ts
  apps/cli/src/adapters/plop/generators/monorepo/index.ts
  apps/cli/src/adapters/plop/generators/monorepo/prompts.ts
  apps/cli/src/adapters/plop/index.ts
Due: dx-cli

Wire info command to presenter (#1836)
  .nx/version-plans/version-plan-1781182695903.md
  apps/cli/src/adapters/commander/commands/__tests__/info.test.ts
  apps/cli/src/adapters/commander/commands/info.ts
  apps/cli/src/domain/info.ts
Due: dx-cli

Fix typecheck issue
  apps/cli/src/adapters/commander/commands/info.ts
Due: dx-cli

Fix DX CLI typecheck issue (#1843)
  apps/cli/src/adapters/commander/commands/info.ts
Due: dx-cli

Add VSCode launch and task configuration for dx CLI (#1834)
  .vscode/launch.json
  .vscode/tasks.json
  apps/cli/tsconfig.lib.json
Due: dx-cli

Refactor devcontainer configuration and add mise.toml for tool management
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
  mise.toml
Due: none

Remove tsconfig.lib.json from Dockerfile configuration copy
  apps/mcpserver/Dockerfile
Due: none

Remove tsconfig.lib.json from Dockerfile (#1846)
  apps/mcpserver/Dockerfile
Due: none

fix: minor
  actions/setup-telemetry/dist/index.cjs
  actions/setup-telemetry/dist/post.cjs
Due: none

Update devcontainer and mise configuration for improved environment setup
  .devcontainer/devcontainer.json
  mise.toml
Due: none

Path conditions:
  dx-cli: any of: apps/cli
  pr-comment-action: any of: actions/pr-comment
